venv/
pyvenv.cfg
.idea/*
.ipynb_checkpoints/*
bin/*
lib/*
.DS_Store
application1/acls/previous-acls.json
application1/acls/current-acls.json
application1/topics/previous-topics.json
application1/topics/current-topics.json
CHANGELOG.md
current-resources.json
previous-resources.json
application_owners.csv

